
#app-layout {
  min-height: 100vh;

  .app-layout-body {
    max-width: 1200px;
    margin: auto; /* center the body element on large displays */
    padding: 2em;
  }
}

.page-navbar {

  .logo {
    align-self: stretch; /* max-height: 100%; does not work */

    img {
      max-height: 100%;
    }
  }
}

button[type=submit] {
  align-self: center;
}
