
#app-layout {
  min-height: 100vh;

  .app-layout-body {
    max-width: 1200px;
    margin: auto; /* center the body element on large displays */
    padding: 2em;
  }
}

.page-navbar {

  .logo {
    align-self: stretch; /* max-height: 100%; does not work */

    img {
      max-height: 100%;
    }
  }
}

h1 {
  text-align: center;
}

button[type=submit] {
  align-self: center;
}

md-input-container .hint {
	position: absolute;
	bottom: 7px;
	font-size: 12px;
	line-height: 14px;
	transition: all .3s cubic-bezier(.55,0,.55,.2);
	color: grey;
}

md-input-container .md-input-messages-animation ~ .hint {
	bottom: -10px;
}
