
<div id="app-layout" class="layout-column layout-align-space-between-stretch">

  <header>
    {{#paper-toolbar}}
      {{#paper-toolbar-tools}}
        <img class="logo" src="images/ams-be-logo-light-gray.png" alt="Logo" />
      {{/paper-toolbar-tools}}
    {{/paper-toolbar}}
  </header>

  <main class="layout-column layout-align-space-around-center">
    test body
    {{outlet}}
  </main>

  <footer>
    test footer
  </footer>

</div>
