
<div id="app-layout" class="layout-column layout-align-space-between-stretch">

  <header>
    {{page-navbar}}
  </header>

  <main class="layout-column layout-align-space-around-center">
    test body
    {{outlet}}
  </main>

  <footer>
    {{page-footer}}
  </footer>

</div>
