
<div id="app-layout" class="layout-column layout-align-space-between-stretch">

  <header>
    test header
  </header>

  <main class="layout-column layout-align-space-around-center">
    test body
    {{outlet}}
  </main>

  <footer>
    test footer
  </footer>

</div>
