
<div id="app-layout" class="layout-column layout-align-space-between-stretch" data-test-app-layout>

  <header data-test-app-layout-header>
    {{page-navbar}}
  </header>

  <main class="layout-column layout-align-space-around-center" data-test-app-layout-body>
    test body
    {{outlet}}
  </main>

  <footer data-test-app-layout-footer>
    {{page-footer}}
  </footer>

</div>
