
<h1>Contact Confirmation</h1>

<p data-test-contact-confirmation-message=true>
  Your message has been sent successfully.
</p>

{{paper-link "Go to homepage" "index" raised=true data-test-link-to-homepage-on-contact-confirmation-page=true}}
