
<h1>Delete Account Confirmation</h1>

<p data-test-delete-account-confirmation-message=true>
  Your account has been deleted successfully.
</p>

{{paper-link "Go to homepage" "index" raised=true
  data-test-link-to-homepage-on-delete-account-confirmation-page=true}}
