
<h1>Frequently Asked Questions (FAQ)</h1>

<article>
  <h3>What is ams-be?</h3>
  <p>
    <strong>ams-be is an Ember.js boilerplate</strong> to start a new Ember.js
    project with some functionality out of the box like user register, user
    login, contact form, etc.
  </p>
</article>

<article>
  <h3>How to install ams-be?</h3>
  <p>
    Download or fork the project and take it as the start your own project.
  </p>
</article>
