
<h1>Login</h1>

{{#paper-form class="layout-column layout-align-space-around-stretch"
  onSubmit=(action "submitLoginForm") data-test-login-form=true as |form|}}
  {{form.input label="Email" type="email" value=(get model "email")
    onChange=(action (mut (get model "email"))) icon="email" required=true data-test-email=true}}
  {{form.input label="Password" type="password" value=(get model "password")
    onChange=(action (mut (get model "password"))) icon="lock" required=true data-test-password=true}}
  {{#form.submit-button raised=true primary=true data-test-submit-login=true}}
    Login
  {{/form.submit-button}}
{{/paper-form}}
