
<h1>Login</h1>

{{#paper-form class="layout-column layout-align-space-around-stretch"
  onSubmit=(action "submitLoginForm") data-test-login-form=true as |form|}}
  {{form.input label="Email" type="email" value=(get model "email")
    onChange=(action (mut (get model "email"))) icon="email"
    errors=model.validations.attrs.email.messages data-test-email=true}}
  {{form.input label="Password" type="password" value=(get model "password")
    onChange=(action (mut (get model "password"))) icon="lock"
    errors=model.validations.attrs.password.messages data-test-password=true}}
  {{#form.submit-button raised=true primary=true data-test-submit=true}}
    Login
  {{/form.submit-button}}
{{/paper-form}}

{{#info-dialog showDialog=showDialog_Error dialogTitle=dialogTitle titleIcon='error'}}
  <p>
    {{dialogMessage}}
  </p>
  <p>
    Please try to fix it or try again later.
  </p>
  <p>
    If the problem persists, please contact the administrator.
  </p>
{{/info-dialog}}
