
<h1>PLEASE CONSIDER TO GET PROFESSIONAL LEGAL ADVICE FOR YOUR PRIVACY POLICY</h1>
<h1>THIS TEXT IS AN EXAMPLE FOR REFERENCE AND SHOULD BE REPLACED</h1>

<h1>Privacy Policy</h1>

<p>ams-be ("us", "we", "our") operates the http://example.example website
    and ams-be app ("service", "website", "site", "app").</p>
<p>This page informs you of our policies regarding the collection, use and disclosure of
    personal information we receive from users of the service.</p>
<p>Your privacy is important to us. We don’t ask for your personal information unless we truly need it.</p>
<p>If you choose to use our service, you agree to the collection and use of information in
    relation with this policy. The information that we collect are used for providing and
    improving the service.</p>
<p>We will not use or share your information with anyone except as described
    in this privacy policy.</p>

<h3>Personal Information</h3>
<p>We may ask you for personal information, such as your name, email, address, contact details and payment details. We collect only the personal information relevant to providing you with a service, and use your information only to ensure the fulfilment of this service. You are free to refuse our request for your personal information, with the understanding that we may be unable to provide you with some of your desired services without this information.</p>
<p>We will only retain personal information for as long as necessary to provide you with the service.</p>

<h3>Log Data</h3>
<p>We want to inform you that, like many other services, whenever you visit our service we collect information that your
    browser sends to us that is called "log data". This log data may include information such as
    your computer’s internet protocol address (IP), browser version, pages of our service that
    you visit, the time and date of your visit, the time spent on those pages, and other statistics.</p>

<h3>Cookies</h3>
<p>Like many other services, we use "cookies" to collect information about you and your activity across our site.</p>
<p>A cookie is a small piece of data that our website stores on your computer, and accesses each time you visit so we can understand how you use our site and serve you content based on preferences you have specified.</p>
<p>If you do not wish to accept cookies from us, you can instruct your browser to refuse cookies from our website, with the understanding that we may be unable to provide you with some of your desired service without them.</p>
<p>This policy covers only the use of cookies between your computer and our website, it does not cover the use of cookies by any advertisers.</p>

<h3>Third-Party Services</h3>
<p>We may employ third-party companies and individuals on our websites - for example, analytics providers and content partners. These third parties have access to your personal information only to perform specific tasks on our behalf, and are obligated not to disclose or use it for any other purpose.</p>

<h3>Security</h3>
<p>We take security seriously, and do what we can within commercially acceptable means to protect your personal information from loss or theft, as well as unauthorized access, disclosure, copying, use or modification. That said, we advise that no method of electronic transmission or storage is 100% secure, and cannot guarantee the absolute security of your data.</p>

<h3>Links to Other Sites</h3>
<p>Our website may link to external sites that are not operated by us. Please be aware that we have no control over the content and practices of these sites, and cannot assume responsibility for their treatment of your personal information. This privacy policy only covers our website and privacy practices.</p>

<h3>Changes to our Privacy Policy</h3>
<p>We reserve the right to update or change our privacy policy at any time and you should check this
privacy policy periodically. Your continued use of the service after we post any modifications to the
privacy policy on this page will constitute your acknowledgment of the modifications and your
consent to abide and be bound by the modified privacy policy.</p>

<h3>Business Transfers</h3>
<p>If we or our assets are acquired, or in the unlikely event that we go out of business or enter bankruptcy, we would include user information among our assets transferred to or acquired by a third party. You acknowledge that such transfers may occur, and that any parties who acquire us may continue to use your personal information according to this policy.</p>

<h3>Contact Us</h3>
<p>If you have any questions about this privacy policy, please contact us.</p>
