
<h1>Register confirmation</h1>

<p data-test-register-confirmation-message=true>
  You have registered successfully.
</p>

{{paper-link "Go to homepage" "index" raised=true data-test-link-to-homepage-on-register-confirmation-page=true}}
