
<h1>Request Reset Password Confirmation</h1>

<p data-test-request-reset-password-confirmation-message=true>
  An email with instructions to reset your password has been sent to you.
</p>
<p>
  If you don't see it in the inbox folder please check the spam folder.
</p>

{{paper-link "Go to homepage" "index" raised=true
  data-test-link-to-homepage-on-request-reset-password-confirmation-page=true}}
