
<h1>Reset Password</h1>

{{#paper-form class="layout-column layout-align-space-around-stretch"
  onSubmit=(action "submitResetPasswordForm") data-test-reset-password-form=true as |form|}}
  {{form.input label="Password" type="password" value=password
    onChange=(action (mut password)) icon="lock"
    errors=validations.attrs.password.messages data-test-password=true}}
  {{form.input label="Repeat password" type="password" value=repeatPassword
    onChange=(action (mut repeatPassword)) icon="lock"
    errors=validations.attrs.repeatPassword.messages data-test-repeat-password=true}}
  {{#form.submit-button raised=true primary=true data-test-submit=true}}
    Reset password
  {{/form.submit-button}}
{{/paper-form}}

{{#info-dialog showDialog=showDialog_Error dialogTitle=dialogTitle titleIcon='error'}}
  <p>
    {{dialogMessage}}
  </p>
  <p>
    Please try to fix it or request a new password reset on login page.
  </p>
  <p>
    If the problem persists, please contact the administrator.
  </p>
{{/info-dialog}}
