
<h1>Reset Password Confirmation</h1>

<p data-test-reset-password-confirmation-message=true>
  Your password has been updated successfully.
</p>

{{paper-link "Go to homepage" "index" raised=true
  data-test-link-to-homepage-on-reset-password-confirmation-page=true}}

{{#unless session.isAuthenticated}}
  {{paper-link "Login" "login" raised=true
    data-test-link-to-login-on-reset-password-confirmation-page=true}}
{{/unless}}
