
<h1>PLEASE CONSIDER TO GET PROFESSIONAL LEGAL ADVICE FOR YOUR TERMS DOCUMENT</h1>
<h1>THIS TEXT IS AN EXAMPLE FOR REFERENCE AND SHOULD BE REPLACED</h1>

<h1>Terms of Service</h1>

<h3>Terms</h3>
<p>ams-be ("us", "we", "our") operates the http://example.example website
    and ams-be app ("service", "website", "site", "app").</p>
<p>By accessing the service you are agreeing to be bound by these terms of service ("terms", "terms of service",
    "terms and conditions"), all applicable laws and regulations, and agree that you are responsible for
    compliance with any applicable local laws. If you do not agree with any of these terms, you are
    prohibited from using or accessing this site. The materials contained in this website are protected by
    applicable copyright and trademark law.</p>

<h3>Use License</h3>
<ol type="a">
   <li>Permission is granted to temporarily download one copy of the materials (information or software)
       on ams-be's website and app transitory viewing only. This is the grant of a license, not a transfer of title, and under this license you may not:
    <ol type="i">
        <li>Copy or modify the app, any part of the app, or our trademarks, or the materials in any way.</li>
        <li>Translate the app into other languages, or make derivative versions.</li>
        <li>Attempt to extract the source code, decompile or reverse
            engineer any software contained on the service.</li>
        <li>Remove any copyright or other proprietary notations from the materials.</li>
        <li>Transfer the materials to another person or "mirror" the materials on any other server.</li>
    </ol>
   </li>
   <li>This license shall automatically terminate if you violate any of these restrictions and may be
       terminated by ams-be at any time. Upon terminating your viewing of these materials or
       upon the termination of this license, you must destroy any downloaded materials in your possession
       whether in electronic or printed format.</li>
   <li>The service itself, and all the trade marks,
    copyright, database rights and other intellectual property rights related to it, still belong
    to ams-be.</li>
</ol>

<h3>User Registration</h3>
<p>You may be required to register with the service. You agree to keep your password confidential and will
    be responsible for all use of your account and password. We reserve the right to remove, reclaim, or
    change a username you select if we determine, in our sole discretion, that such username is inappropriate,
    obscene, or otherwise objectionable.</p>

<h3>Subscriptions</h3>
<p>
Some parts of the service are billed on a subscription basis.
If you agree to pay the fee for access to the applicable service, such fee will be
charged by the company designated by us in accordance with the payment method you have chosen for
your purchase.
You agree to provide current, complete, and accurate payment and account information for all
purchases made via the service. You further agree to promptly update account and payment information,
including email address, payment method, and payment card expiration date, so that we can complete your
transactions and contact you as needed.
If you are paying by credit or debit card, by designating a card to be billed, you confirm
that you are authorized to make such purchase and that you are the holder of such card (i.e. that the card
is issued in your name).
We accept a variety of different payment methods, so please check them for the best way for you to pay.
</p>

<h3>Prices</h3>
<p>
Please see our subscription pages for current features and pricing.
Features and prices are subject to change. Such changed price will take effect after the expiry of the
then current paid for period (i.e. the term that you have already paid for).
Any price change will be communicated to you at least 14 days in advance so that you have an
opportunity to elect to not renew.
If you do not wish to be bound by such changed price relating to the service you may terminate your
subscription of the service.
Your continued use of the service after the communication of such price change to
you constitutes an acceptance of such new price.
We reserve the right to charge for excessive use of bandwidth.
All fees may be subject to taxes.
</p>

<h3>Renewals</h3>
<p>
Your subscription to the service will automatically renew at the end of each
subscription term unless you terminate your subscription prior to the end of such subscription term.
Such renewal will always be for a monthly subscription term. At the
time of renewal the payment method you have designated to be charged for the purchase of the service
will automatically be charged our then current fees for the applicable subscription.
We reserve the right to deny subscriptions, renewals, and other purchases for any reason.
</p>

<h3>Free Trial</h3>
<p>We offer a 30-day free trial to new users who register with the service.
    At the end of the free trial period, subscription fees will apply.</p>

<h3>Cancellation</h3>
<p>All purchases are non-refundable. You can cancel your subscription at any time
    by logging into your account. Your cancellation will take effect at the end of the current paid term.</p>
<p>If you are unsatisfied with our services, please contact us.</p>

<h3>Disclaimer</h3>
<ol type="a">
   <li>The materials on ams-be's service are provided on an 'as is' basis. ams-be
       makes no warranties, expressed or implied, and hereby disclaims and negates all other warranties
       including, without limitation, implied warranties or conditions of merchantability, fitness for a
       particular purpose, or non-infringement of intellectual property or other violation of rights.</li>
   <li>Further, ams-be does not warrant or make any representations concerning the accuracy,
       likely results, or reliability of the use of the materials on its service or otherwise relating
       to such materials or on any sites linked to this website.</li>
<li>We are committed to ensuring that the app is as useful and efficient as
possible. For that reason, we reserve the right to make changes to the app or to charge for its services,
at any time and for any reason. We will never charge you for the app or its services without making it
very clear to you exactly what you’re paying for.</li>
<li>You should be aware that there are certain things that we will not take
responsibility for. Certain functions of the app will require the app to have an active internet connection.
The connection can be Wi-Fi, or provided by your mobile network provider, but we
cannot take responsibility for the app not working at full functionality if you don’t have access to Wi-Fi,
and you don’t have any of your data allowance left.</li>
<li>If you’re using the app outside of an area with Wi-Fi, you should remember that your terms of the agreement
with your mobile network provider will still apply. As a result, you may be charged by your mobile provider
for the cost of data for the duration of the connection while accessing the app, or other third party charges.
In using the app, you’re accepting responsibility for any such charges, including roaming data charges if you
use the app outside of your home territory (i.e. region or country) without turning off data roaming. If you
are not the bill payer for the device on which you’re using the app, please be aware that we assume that you
have received permission from the bill payer for using the app.</li>
<li>Along the same lines, we cannot always take responsibility for the way you use
the app, i.e. you need to make sure that your device stays charged – if it runs out of battery and you can’t
turn it on to avail the service.</li>
<li>With respect to our responsibility for your use of the app, when you’re using
the app, it’s important to bear in mind that although we endeavour to ensure that it is updated and correct
at all times, we do rely on third parties to provide information to us so that we can make it available to you.
We accept no liability for any loss, direct or indirect, you experience as a
result of relying wholly on this functionality of the app.</li>
<li>At some point, we may wish to update the app, and you’ll need to download the updates if you want to
keep using the app. We do not promise that it will always update the app so that it works with the app
version that you have installed on your device. However, you promise
to always accept updates to the application when offered to you.</li>
<li>We may also wish to stop providing the app, and may terminate use of it at any time without giving
    notice of termination to you. Unless we tell you otherwise, upon any termination, (a) the rights
    and licenses granted to you in these terms will end; (b) you must stop using the app,
    and (if needed) delete it from your device.</li>
</ol>

<h3>Termination</h3>
<p>We may terminate or suspend access to our service immediately, without prior notice or liability, for
any reason whatsoever, including without limitation if you breach the terms.
All provisions of the terms which by their nature should survive termination shall survive
termination, including, without limitation, ownership provisions, warranty disclaimers, indemnity and
limitations of liability.</p>

<h3>Limitations</h3>
<p>In no event shall ams-be or its suppliers be liable for any damages (including,
    without limitation, damages for loss of data or profit, or due to business interruption) arising
    out of the use or inability to use the materials on ams-be's service, even if ams-be
    or a ams-be authorized representative has been notified orally or in writing of
    the possibility of such damage. Because some jurisdictions do not allow limitations on implied
    warranties, or limitations of liability for consequential or incidental damages, these limitations
    may not apply to you.</p>

<h3>Accuracy of materials</h3>
<p>The materials appearing on ams-be service could include technical, typographical, or
    photographic errors. ams-be does not warrant that any of the materials on its service
    are accurate, complete or current. ams-be may make changes to the materials contained
    on its service at any time without notice. However ams-be does not make any commitment
    to update the materials.</p>

<h3>Links</h3>
<p>
Our service may contain links to third-party web sites or services that are not owned or controlled by us.
ams-be has not reviewed all of the websites linked to its service and is not responsible
for the contents of any such linked site. The inclusion of any link does not imply endorsement by
ams-be of the site. Use of any such linked website is at the user's own risk.
ams-be has no control over, and assumes no responsibility for, the content,
privacy policies, or practices of any third party web sites or services. You further acknowledge and
agree that ams-be shall not be responsible or liable, directly or indirectly, for any
damage or loss caused or alleged to be caused by or in connection with use of or reliance on any
such content, goods or services available on or through any such web sites or services.</p>

<h3>Modifications</h3>
<p>
We reserve the right, at our sole discretion, to modify or replace these terms at any time without notice.
We will notify you of any changes by posting the new terms on this page.
Thus, you are advised to review this page periodically for any changes.
These changes are effective immediately after they are posted on this page.
By using this service you are agreeing to be bound by the then current version of these terms of service.</p>

<h3>Governing Law</h3>
<p>These terms and conditions are governed by and construed in accordance with the laws of the European Union
    and you irrevocably submit to the exclusive jurisdiction of the courts in that location.</p>

<h3>Contact Us</h3>
<p>If you have any questions about these terms, please contact us.</p>
